/*by Lizun*/
body {width: 100%; font-family: Georgia, serif;
-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*positions of hands and legs*/
._normal-position_left{-webkit-transform: rotateZ(95deg) translateX(50%);
	-moz-transform: rotateZ(95deg) translateX(50%);
	-ms-transform: rotateZ(95deg) translateX(50%);
	-o-transform: rotateZ(95deg) translateX(50%);
	transform: rotateZ(95deg) translateX(50%);}
._normal-position_right{-webkit-transform: rotateZ(85deg) translateX(50%);
	-moz-transform: rotateZ(85deg) translateX(50%);
	-ms-transform: rotateZ(85deg) translateX(50%);
	-o-transform: rotateZ(85deg) translateX(50%);
	transform: rotateZ(85deg) translateX(50%);
}

/*end positions of hands and legs*/
/*body */
.rotate-dancer{
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);}

.mix{
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
	-o-transform: rotateX(360deg);
	transform: rotateX(360deg);}
/*end */
/*dancer first position*/
.dancer-wrapper{ margin: 0 auto; position: relative; width: 800px; height: 510px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;}
.dancer-part{position: absolute;}

.dancer-head{top: 0; left: 0; right: 0; margin: 0 auto; background: #fff; width: 150px; height: 150px; border: 2px solid #000; z-index: 3;
	border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}

		.dancer-mouse{position: absolute;width: 70px;height: 40px;border-bottom: 5px solid #000;bottom: 25px;left: 0;right: 0;margin: 0 auto;
			border-radius: 34%; -webkit-border-radius: 34%; -moz-border-radius: 34%;}
		.dancer-eye{position: absolute; top: 40px; width: 10px; height: 10px; background: #000;
			border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
			.dancer-eye._eye_left{left: 30px;}
			.dancer-eye._eye_right{right: 30px;}
.dancer-body{top:151px; left: 0; right: 0; margin: 0 auto; height: 200px; width: 7px; background: #000;z-index: 1;}
	.dancer-scarf{opacity: 0;position: absolute;width: 100px;margin: 0 auto;left: 0;right: 0;top: 136px; z-index: 2;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;}

	.dancer-cap{opacity: 0; position: absolute; width: 100px; top: -30px; left: -8px;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;}
		.dancer-cap._active, .dancer-scarf._active{opacity: 1;}

.dancer-hand{top: 151px;  width: 150px; height: 4px; background: #000;z-index: 1;}
.dancer-hand._left_hand{left: 322px;}
.dancer-hand._right_hand{left: 327px;}

.dancer-leg{top: 348px; width: 160px; height: 5px; background: #000;}
.dancer-leg._left_leg{left: 319px;}
.dancer-leg._right_leg{left: 320px;}
._button_style{position: relative; text-align: center;color: #fff; background: #d3775f; padding: 20px 0; width: 200px; border: 1px solid #390d0c; font-size: 20px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;}
.bottom-buttons{ margin: 20px 0; text-align: center;}
	.dancer-make_beauty{display: inline-block;}
	.button-play_again{display: inline-block;  margin: 0 30px 0;}
	.button-do_again{display: inline-block;}
	._button_style:hover{cursor: pointer; background: #ab5e50;}
	.dancer-make_beauty._active{background: #8d8487;}

/*buttons block */
.js-buttons-block{display: none; text-align: center;}
	.button-start{display: inline-block; margin: 0 30px 0 0;}
	.button-repeat{display: inline-block;}

/*visual block */
.visual-look{color: #000; display: none; text-align: center; margin: 20px 0; font-size: 25px;}


/*end by Lizun*/
.beat-block { padding: 20px 0; width: 100%; text-align: center; font: 37px/47px Georgia, serif; }
.hidden{ display: none; }
#play.ready{ display: block; }
/*.dancer-make_beauty {display: none; position: relative; margin: 0; color: #fff;font-weight: bold;font-size: 18px;text-align: center;cursor: pointer; background: #e7544b; padding: 20px 10px; border: 1px solid #38201c;}*/

#play{
    display:none;
}

#play.ready{
    display: inline-block;
}

.high,
.low{
    width:40px;
    display:inline-block;
    vertical-align:top;
}

.high{
    background:red;
}

.low{
    background:green;
}
.header-wrapper{
    width:100%;
    height:30px;
}